.modal .modal-body {
    height: 480px;
    overflow-y: auto;
}
table{
    font-size: 12px;
}

.modal p{
	margin-bottom: 0px;
	font-size: 12px;
	margin-top: 10px;
}

textarea{
    width: 30em;
    height: 15em;
}

.post img{
    width: 150px;
    height: 150px;
}