.modal .modal-body {
    height: 520px;
    overflow-y: auto;
}

table{
    font-size: 12px;
}

.modal p{
	margin-bottom: 0px;
	font-size: 12px;
	margin-top: 10px;
}

textarea{
    width: 30em;
    height: 15em;
}

.post>h3{
	margin-top: 50px;
	margin-bottom: 5px;
}

.btn_postEdit{
	background: transparent;
	border: none;
	margin-right: 10px;
	padding-left: 0px;
}

.fa-lock{
	margin-left: 10px;
}

.dt-button{
	margin-right: 10px;
}