.modal .modal-body {
    height: 520px;
    overflow-y: auto;
}

table{
    font-size: 12px;
}

.modal p{
	margin-bottom: 0px;
	font-size: 12px;
	margin-top: 10px;
}

textarea{
    width: 30em;
    height: 15em;
}

.post>h3{
	margin-top: 50px;
	margin-bottom: 5px;
}

.btn_postEdit{
	background: transparent;
	border: none;
	margin-right: 10px;
	padding-left: 0px;
}

.fa-lock{
	margin-left: 10px;
}

.dt-button{
	margin-right: 10px;
}

/*
****** Navigation *****
*/

.navbar-brand>img{
	max-height: 30px;
	max-width: 100px;
}

.dropdown-toggle>b, .dropdown-toggle>i{
	margin-left: 5px;
	margin-right: 5px;
}

.side-nav>li>a>i{
	margin-right: 5px;
}

h2{
	margin-top: 12px !important;
	margin-bottom: 12px !important;
	margin-left: 150px !important;
	font-size: 24px;
}

/*
****** Timeline
*/
.imgLiquid{
	min-height: 20px;
}